.hero {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.hero .alpha-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 0.8;
}

.hero h1 {
    color: black;
    font-weight: bold;
}

.wrapper {
    max-width: 25rem;
    position: relative;
    z-index: 10;
    transform: translateY(-50%);
    top: 50%;
}

.color-emphasis {
    color: #3043a0;
}
