/*
* BASE CSS STYLES
*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    font-size: .9rem;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.2px;
    line-height: 1.2rem;
    overflow-x: hidden;
}

body,
html {
    height: 100%;
}

h5 {
    font-size: 1.4rem;
}
