/*
* BASE CSS STYLES
*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;

    // padding-bottom: 6rem;
    // min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

body,
html {
    height: 100%;
    background-color: #16a085;
}
