.contactus {
    padding: 3rem;
}

.addressinfo {
    padding-left: 15px;
}

.contactinfo,
.addressinfo {
    padding-top: 5rem;

    &__header {
        color: $rsd-white;
        padding-bottom: 2rem;
    }

    &-item {
        padding-bottom: 3rem;

        i {
            font-size: 1.9rem;
            color: $rsd-light-grey;
            vertical-align: top;
        }

        p {
            margin-bottom: 0;
        }
    }

    &-info {
        color: $rsd-light-grey;
        display: inline-block;
        margin-left: 1.5rem;
    }
}

.rsd {
    &-footer {
        font-size: .5em;
        height: 100px;

        &__divider {
            border-top: 1px solid $rsd-dark-grey;
            margin-left: 4rem;
            margin-right: 4rem;
        }

        &__copyright {
            text-align: center;
        }
    }

    &-social {
        padding: 1rem;

        &__icons {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            list-style: none;
            margin: 0;
            padding: 0;
            height: auto;
            width: auto;

            i {
                font-size: 1.5rem;
                color: $rsd-light-grey;
                margin-right: 1rem;
            }
        }
    }
}

/*-------------------------------*/
/*     MEDIA QUERIES             */
/*-------------------------------*/

@media (min-width: 768px) {
    .rsd-footer__copyright {
        text-align: right;
    }

    .rsd-social__icons {
        justify-content: initial;
    }

    .rsd-social,
    .rsd-footer__copyright {
        padding: 2.3rem 2.3rem 2.2rem 2.3rem;
    }

    .addressinfo,
    .contactusinfo {
        display: inline-block;
    }

    .addressinfo {
        padding-left: 4rem;
    }
}

/*-------------------------------*/
/*     MEDIA QUERIES             */
/*-------------------------------*/

@media (min-width: 992px) {
    div.addressinfo-item:nth-child(odd) {
        display: inline-block;
    }
}
