.rsd {
    &-footer {
        // position: absolute;
        // right: 0;
        // bottom: 0;
        // left: 0;
        padding: 5rem 0;
        font-size: .5em;
    }

    &-social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        list-style: none;
        margin: 0 0 3.125rem 0;
        padding: 0;
        height: auto;
        width: auto;

        li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        i {
            height: 4rem;
            width: 4rem;
            font-size: 1.5rem;
            line-height: 4.3rem;
            background: $rsd-dark-grey;
            border-radius: 100%;
            color: $rsd-light-grey;
            margin-right: 1rem;
            margin-bottom: 10px !important;
            padding-bottom: 10px !important;

            &:hover,
            &:focus {
                background: #6d8785;
            }
        }
    }
}
