header {
    &#home {
        img {
            width: 100vw;
            height: 100vh;
            object-fit: cover;
        }

        .header-img:after {
            background: rgba(0, 0, 0, 0) -webkit-linear-gradient(top left, rgb(0, 0, 0.5) 0%, rgba(0, 0, 0, 1) 100%) repeat scroll 0 0;
            background: rgba(0, 0, 0, 0) -moz-linear-gradient(top left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 1) 100%) repeat scroll 0 0;
            background: rgba(0, 0, 0, 0) -o-linear-gradient(top left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 1) 100%) repeat scroll 0 0;
            background: rgba(0, 0, 0, 0) linear-gradient(to bottom right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 1) 100%) repeat scroll 0 0;
            content: "";
            display: block;
            height: 100vh;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    img {
        width: 100vw;
        height: 80vh;
        object-fit: cover;
    }

    .header-img:after {
        background: rgba(0, 0, 0, 0) -webkit-linear-gradient(top left, rgb(0, 0, 0.5) 0%, rgba(0, 0, 0, 0.7) 100%) repeat scroll 0 0;
        background: rgba(0, 0, 0, 0) -moz-linear-gradient(top left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.7) 100%) repeat scroll 0 0;
        background: rgba(0, 0, 0, 0) -o-linear-gradient(top left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.7) 100%) repeat scroll 0 0;
        background: rgba(0, 0, 0, 0) linear-gradient(to bottom right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.7) 100%) repeat scroll 0 0;
        content: "";
        display: block;
        height: 80vh;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .header-text {
        width: 100%;
        position: absolute;
        top: 15rem;

        h1 {
            font-weight: bold;
        }

        &.container {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
}

/*-------------------------------*/
/*     MEDIA QUERIES             */
/*-------------------------------*/

@media (min-width: 768px) {
    h4 {
        font-size: 3rem;
    }
}
