/*-------------------------------*/
/*     BACKGROUND COLOURS        */
/*-------------------------------*/

.bg-black {
    background: $rsd-black;
}

.bg-light-black {
    background: $rsd-light-black;
}

.bg-blue {
    background: $rsd-blue;
}

/*-------------------------------*/
/*     FONT COLOURS              */
/*-------------------------------*/

.text-light-grey {
    color: $rsd-light-grey;
}

/*-------------------------------*/
/*     SPACING                   */
/*-------------------------------*/

.inline-block {
    display: inline-block;
}
