/*-------------------------------*/
/*     BACKGROUND COLOURS        */
/*-------------------------------*/

.bg-black {
    background: $rsd-black;
}

.bg-light-black {
    background: $rsd-light-black;
}

.bg-light-grey {
    background: $rsd-light-grey;
}

.bg-blue {
    background: $rsd-blue;
}

.bg-white {
    background: $rsd-white;
}

.bg-green {
    background: $rsd-green;
}

.bg-orange {
    background: $rsd-orange;
}

/*-------------------------------*/
/*     FONT COLOURS              */
/*-------------------------------*/

.text-light-grey {
    color: $rsd-light-grey;
}

/*-------------------------------*/
/*     SPACING                   */
/*-------------------------------*/

.inline-block {
    display: inline-block;
}

/*-------------------------------*/
/*     DIVIDER                   */
/*-------------------------------*/

.divider {
    border-bottom: 2px solid $rsd-white;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
}

.section-left,
.section-right {
    padding: 3rem;
    height: 18rem;
}

.section-text {
    text-decoration: none;
}

/*-------------------------------*/
/*     MEDIA QUERIES             */
/*-------------------------------*/

@media (min-width: 768px) {
    .section-left,
    .section-right {
        padding: 3rem;
        height: 30rem;
    }
}
